body {

}


.pcBox {
	border: 1px solid black;
	margin: 1em 1em 1em 1em;
	padding: 10px 10px 10px 10px;
}


.roll-results {
	border: 1px;
}

#rollHistory {
	border: 1px solid black;
	margin: 1em 1em 1em 1em;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column-reverse;
}

#removePc {
	background-color: red;

}


#dieRoll {

}

#perMod {

}

#prof {

}

#total {

}

#message {

}

#secondRoll- {

}